{% extends "base.html" %}
{% load static %}

{% block vuestyles %}
    {% if not debug %}
        <link href="{% static 'vue/css/app.css' %}" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block content %}
    <div id="app">
        <p>If you see this, Vue hasn't done it's job properly 😥</p>
    </div>
    {# Vue JS #}
    <script src="{% static 'vue/js/chunk-vendors.js' %}" type="application/javascript"></script>
    <script src="{% static 'vue/js/app.js' %}" type="application/javascript"></script>
    {# Vue JS - End #}
{% endblock %}
